<div class="avatar">
  <div class="bg-neutral text-neutral-content rounded-full w-<%= local_assigns[:size] || 8 %> h-<%= local_assigns[:size] || 8 %>">
    <% if user.avatar.present? %>
      <%= image_tag user.avatar, alt: "Avatar" %>
    <% else %>
      <span><%= (user.name || 'u').first.capitalize %></span>
    <% end %>
  </div>
</div>