<li class="pb-3 sm:pb-4">
  <div class="flex items-center space-x-4 rtl:space-x-reverse">
    <div class="flex-shrink-0">
      <%= image_tag "logo.jpg", class: "w-8 h-8 rounded-full" %>
    </div>
    <div class="flex-1 min-w-0">
      <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
        <%# comment.commenter.name %>
      </p>
      <p class="text-sm text-gray-500 truncate dark:text-gray-400">
        <%= comment.content %>
      </p>
    </div>
  </div>
</li>