<li class="flex space-x-4 rtl:space-x-reverse py-4 ">
  <div class="w-12 h-12">
    <%= render 'components/avatar', user: comment.commenter, size: 12 %>
  </div>
  <div class="flex-1 min-w-0">
    <div class="flex items-center justify-between mb-4">
      <div class="comment-info flex gap-2 items-center ">
        <p class="text-lg font-medium text-gray-900 truncate dark:text-white">
          <%= link_to comment.commenter.name, url_profile(comment.commenter) %>
        </p>
        <span class="text-sm text-gray-400">
          <%= time_ago_in_words(comment.updated_at) %>
        </span>
      </div>
      <div class="text-sm text-gray-400">
        reply
      </div>
    </div>
    <p class="text-base text-gray-500 truncate dark:text-gray-400">
      <%= render "components/rich_text_preview", content: comment.content %>
    </p>
  </div>
</li>