<div class="h-full flex flex-col p-6 gap-2 bg-white rounded-lg">
    <section class="pb-6 mb-6">
        <h2 class="mb-6 text-lg font-semibold text-gray-900 dark:text-white">酷站</h2>
        <div class="text-md font-normal text-gray-500 lg:text-xl dark:text-gray-400 flex items-center gap-6 flex-wrap">
            <a href="https://ruby-china.org/" class="flex items-center gap-2 avatar" target="_blank">
                <div class="w-6 h-6 rounded-full">
                    <img class="avatar" src="https://favicon.ruby-china.com/ip2/ruby-china.org.ico" alt="ruby-china">
                </div>
                Ruby China
            </a>
            <a href="https://github.com/" class="flex items-center gap-2 avatar" target="_blank">
                <span class="w-5 h-5 rounded-full">
                    <img src="https://favicon.ruby-china.com/ip2/github.com.ico" alt="github">
                </span>
                Github
            </a>
        </div>
    </section>
</div>