<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          标题
        </th>
        <th scope="col" class="px-6 py-3">
          作者
        </th>
        <th scope="col" class="px-6 py-3">
          状态 
        </th>
        <th scope="col" class="px-6 py-3">
          更新日期
        </th>
        <th scope="col" class="px-6 py-3">
          创建日期
        </th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Edit</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <%= render "post", post: post %>
      <% end %>
    </tbody>
  </table>
</div>
