<% if post.comments.empty? %>
  <div class="flex flex-col gap-2 items-center text-slate-500">
    <%= render "components/icon", symbol: "rails-icon-empty", class: "text-2xl" %>
    <span>暂无评论，去抢沙发!</span>
  </div>
<% else %>
  <div class="text-gray-500">
    <span class="font-semibold">
      <span id="comments-count" >
        <%= post.comments.size %>
      </span>
    </span>
    条回复
  </div>
  <section class="bg-white dark:bg-gray-900 rounded-lg px-6 p-3 shadow-sm">
    <ul id="comments" class=" divide-y divide-gray-200 dark:divide-gray-700">
      <%= render post.comments.no_reply_comments %>
    </ul>
  </section>
<% end %>