<div class="flex flex-col gap-4">
  <section id="<%= dom_id post %>" class="">
    <h2 class="text-4xl font-extrabold leading-none tracking-tight text-gray-900  "> <%= post.title %> </h2>
    <div class="flex gap-2 text-slate-500 text-sm">
      <span>created_at </span>
      <span><%=  time_ago_in_words(post.created_at) %> </span>
    </div>
    <main class=" my-4 text-lg font-normal text-gray-500 dark:text-gray-400"> <%= post.context %> </main>
  </section>
</div>