<h2 class="text-xl font-medium mb-2"><%= @category.name %> 节点</h2>
<section style="height: fit-content" class="shadow-sm rounded-lg flex-1 flex flex-col mx-auto max-w-6xl bg-white dark:bg-gray-900">
  <%= render @posts %>
</section>
