<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          头像
        </th>
        <th scope="col" class="px-6 py-3">
          名称
        </th>
        <th scope="col" class="px-6 py-3">
          发帖
        </th>
        <th scope="col" class="px-6 py-3">
          评论
        </th>
        <th scope="col" class="px-6 py-3">
          粉丝
        </th>
        <th scope="col" class="px-6 py-3">
          关注
        </th>
        <th scope="col" class="px-6 py-3">
          是否禁言
        </th>
        <th scope="col" class="px-6 py-3">
          创建日期
        </th>
        <th scope="col" class="px-6 py-3">
          <span class="sr-only">Edit</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <%= render "user", user: user %>
      <% end %>
    </tbody>
  </table>
</div>
